Repository ritza-co/device42-docs, pull requests merged in 2025-04, with the labels that each got.

#586 801: document Arista discovery, other-cloud-autodiscovery
  docs/auto-discovery/cloud-auto-discovery/other-cloud-autodiscoveries.mdx
  static/assets/images/other-cloud-autodiscovery/arista-discovery-form-1-dark.png
  static/assets/images/other-cloud-autodiscovery/arista-discovery-form-1-light.png
  static/assets/images/other-cloud-autodiscovery/arista-discovery-form-2-dark.png
  static/assets/images/other-cloud-autodiscovery/arista-discovery-form-2-light.png
  static/assets/images/other-cloud-autodiscovery/arista-discovery-form-3-dark.png
  static/assets/images/other-cloud-autodiscovery/arista-discovery-form-3-light.png
Labels: proofread

#585 798: mention object category & RBAC
  docs/administration/role-based-access-control/index.mdx
  docs/infrastructure-management/devices/device-add-edit.mdx
Labels: proofread

#584 760: mention permissions & update page, buildings-and-rooms
  docs/infrastructure-management/buildings-rooms-and-racks/buildings-and-rooms.mdx
  static/assets/images/buildings-and-rooms/building-impact-chart-dark.png
  static/assets/images/buildings-and-rooms/building-impact-chart-light.png
  static/assets/images/buildings-and-rooms/building-list-view-dark.png
  static/assets/images/buildings-and-rooms/building-list-view-light.png
  static/assets/images/buildings-and-rooms/buildings-export-options-dark.png
  static/assets/images/buildings-and-rooms/buildings-export-options-light.png
  static/assets/images/buildings-and-rooms/change-room-size-dark.png
  static/assets/images/buildings-and-rooms/change-room-size-light.png
  static/assets/images/buildings-and-rooms/detail-panel-dark.png
  static/assets/images/buildings-and-rooms/detail-panel-light.png
  static/assets/images/buildings-and-rooms/grid-numbering-dark.png
  static/assets/images/buildings-and-rooms/grid-numbering-light.png
  static/assets/images/buildings-and-rooms/power-unit-map-dark.png
  static/assets/images/buildings-and-rooms/power-unit-map-light.png
  static/assets/images/buildings-and-rooms/rack-color-options-dark.png
  static/assets/images/buildings-and-rooms/rack-color-options-light.png
  static/assets/images/buildings-and-rooms/rack-detail-view-dark.png
  static/assets/images/buildings-and-rooms/rack-detail-view-light.png
  static/assets/images/buildings-and-rooms/rack-layout-dark.png
  static/assets/images/buildings-and-rooms/rack-layout-light.png
  static/assets/images/buildings-and-rooms/racks-global-settings-dark.png
  static/assets/images/buildings-and-rooms/racks-global-settings-light.png
  static/assets/images/buildings-and-rooms/room-detailed-view-dark.png
  static/assets/images/buildings-and-rooms/room-detailed-view-light.png
  static/assets/images/buildings-and-rooms/room-layout-general-dark.png
  static/assets/images/buildings-and-rooms/room-layout-general-light.png
  static/assets/images/buildings-and-rooms/room-object-templates-dark.png
  static/assets/images/buildings-and-rooms/room-object-templates-light.png
  static/assets/images/buildings-and-rooms/rooms-list-view-dark.png
  static/assets/images/buildings-and-rooms/rooms-list-view-light.png
  static/assets/images/buildings-and-rooms/rotate-buttons-dark.png
  static/assets/images/buildings-and-rooms/rotate-buttons-light.png
  static/assets/images/buildings-and-rooms/view-building-rooms-dark.png
  static/assets/images/buildings-and-rooms/view-building-rooms-light.png
  static/assets/images/buildings-and-rooms/view-connections-option-dark.png
  static/assets/images/buildings-and-rooms/view-connections-option-light.png
Labels: proofread

#589 802: update screenshots, jamf-autodiscovery
  docs/auto-discovery/jamf-autodiscovery.mdx
  static/assets/images/jamf-autodiscovery/jamf-run-now-1-dark.png
  static/assets/images/jamf-autodiscovery/jamf-run-now-1-light.png
  static/assets/images/jamf-autodiscovery/jamf-run-now-2-dark.png
  static/assets/images/jamf-autodiscovery/jamf-run-now-2-light.png
  static/assets/images/jamf-autodiscovery/jamf-schedule-dark.png
  static/assets/images/jamf-autodiscovery/jamf-schedule-light.png
  static/assets/images/jamf-autodiscovery/new-job-1-dark.png
  static/assets/images/jamf-autodiscovery/new-job-1-light.png
  static/assets/images/jamf-autodiscovery/new-job-2-dark.png
  static/assets/images/jamf-autodiscovery/new-job-2-light.png
  static/assets/images/jamf-autodiscovery/new-job-3-dark.png
  static/assets/images/jamf-autodiscovery/new-job-3-light.png
Labels: proofread

#640 820/825: Updated UI screenshots of Business Services visualization + Adding Business service type, business-services
  docs/apps/business-services/index.mdx
  static/assets/images/business-services/add-app-comp-dark.png
  static/assets/images/business-services/add-app-comp-light.png
  static/assets/images/business-services/add-app-group-dark.png
  static/assets/images/business-services/add-app-group-light.png
  static/assets/images/business-services/add-device-dark.png
  static/assets/images/business-services/add-device-light.png
  static/assets/images/business-services/blank-canvas-dark.png
  static/assets/images/business-services/blank-canvas-light.png
  static/assets/images/business-services/canvas-left-panel-dark.png
  static/assets/images/business-services/canvas-left-panel-light.png
  static/assets/images/business-services/edit-service-type-dark.png
  static/assets/images/business-services/edit-service-type-light.png
  static/assets/images/business-services/view-application-dark.png
  static/assets/images/business-services/view-application-light.png
Labels: proofread, optimize-images

#639 823: Document Accept/Ignore buttons to application groups page, application-groups
  docs/apps/application-groups/calculation-rules.mdx
  docs/apps/application-groups/index.mdx
  static/assets/images/application-groups/ag-edit-suggestion-actions-dark.png
  static/assets/images/application-groups/ag-edit-suggestion-actions-light.png
  static/assets/images/application-groups/ag-view-suggestion-actions-dark.png
  static/assets/images/application-groups/ag-view-suggestion-actions-light.png
Labels: proofread, optimize-images

#633 830: document 'dont change via' option, operating-systems
  docs/infrastructure-management/operating-systems.mdx
  static/assets/images/operating-systems/ai-hover-over-dark.png
  static/assets/images/operating-systems/ai-hover-over-light.png
  static/assets/images/operating-systems/dont-change-os-toggle-dark.png
  static/assets/images/operating-systems/dont-change-os-toggle-light.png
  static/assets/images/operating-systems/enriched-data-details-dark.png
  static/assets/images/operating-systems/enriched-data-details-light.png
  static/assets/images/operating-systems/operating-systems-enrichai-dark.png
  static/assets/images/operating-systems/operating-systems-enrichai-light.png
Labels: proofread, optimize-images

#631 833: document App Group Calc. tab; resources
  docs/auto-discovery/resources/index.mdx
  static/assets/images/autodiscovery-resources/resources-app-group.png
Labels: proofread, optimize-images

#628 818: document enchanched matching, unprocessed-device-
  docs/auto-discovery/unprocessed-device-records.mdx
  static/assets/images/unprocessed-device-records/device-matching-dark-2.png
  static/assets/images/unprocessed-device-records/device-matching-dark.png
  static/assets/images/unprocessed-device-records/device-matching-light-2.png
  static/assets/images/unprocessed-device-records/device-matching-light.png
  static/assets/images/unprocessed-device-records/enhanced-device-matching-dark.png
  static/assets/images/unprocessed-device-records/enhanced-device-matching-light.png
Labels: proofread, optimize-images

#627 821/822/832: Add more information picklists + custom field by obectID + Secrets; custom-key-value-pairs-explained
  docs/administration/custom-key-value-pairs-explained.mdx
  docs/administration/passwords/_category_.yml
  docs/administration/passwords/burnt-secret-password-storage.mdx
  docs/administration/passwords/index.mdx
  static/assets/images/burnt-secret-password-storage/add-burnt-secret-dark.png
  static/assets/images/burnt-secret-password-storage/add-burnt-secret-light.png
  static/assets/images/burnt-secret-password-storage/filter-burnt-dark.png
  static/assets/images/burnt-secret-password-storage/filter-burnt-light.png
  static/assets/images/custom-fields/add-secret-custom-field-dark.png
  static/assets/images/custom-fields/add-secret-custom-field-light.png
  static/assets/images/custom-fields/check-for-banner-dark.png
  static/assets/images/custom-fields/create-device-custom-field-dark.png
  static/assets/images/custom-fields/create-device-custom-field-light.png
  static/assets/images/custom-fields/custom-field-type-dark.png
  static/assets/images/custom-fields/custom-field-type-light.png
  static/assets/images/custom-fields/custom-fields-filter-dark.png
  static/assets/images/custom-fields/custom-fields-filter-light.png
  static/assets/images/custom-fields/custom-fields-mandatory-dark.png
  static/assets/images/custom-fields/custom-fields-mandatory-light.png
  static/assets/images/custom-fields/custom-fields-menu-dark.png
  static/assets/images/custom-fields/custom-fields-menu-light.png
  static/assets/images/custom-fields/secret-custom-field-dark.png
  static/assets/images/custom-fields/secret-custom-field-light.png
  static/assets/images/custom-fields/secrets-link-dark.png
  static/assets/images/custom-fields/secrets-link-light.png
Labels: proofread, optimize-images

#626 829: add release notes pg with cut off versions, release-notes
  docs/release-notes.mdx
  static/assets/images/release-notes/accept-ignore.png
  static/assets/images/release-notes/business-services-layout.png
  static/assets/images/release-notes/dashboards-business-services.png
  static/assets/images/release-notes/freshservice-integration-update.png
  static/assets/images/release-notes/freshservice-relationships.png
  static/assets/images/release-notes/guided-report-templates.png
  static/assets/images/release-notes/resources-app-group-viz.png
Labels: proofread, draft-done, optimize-images

#625 827: remove 2018 from image, device42-cloud-connector-
  docs/integration/external-integrations/device42-cloud-connector-overview.mdx
  static/assets/images/cloud-connector-diagram.png
Labels: proofread, optimize-images

#621 826: update plaforms list and images, agent-based-discovery
  docs/auto-discovery/agent-based-discovery.mdx
  static/assets/images/agent-based-discovery/advanced-search-dark.png
  static/assets/images/agent-based-discovery/advanced-search-light.png
  static/assets/images/agent-based-discovery/agent-based-scans-dark.png
  static/assets/images/agent-based-discovery/agent-based-scans-light.png
  static/assets/images/agent-based-discovery/check-in-date-dark-3.png
  static/assets/images/agent-based-discovery/check-in-date-light-3.png
  static/assets/images/agent-based-discovery/devices-gear-icon-dark.png
  static/assets/images/agent-based-discovery/devices-gear-icon-light.png
  static/assets/images/agent-based-discovery/more-button-dark.png
  static/assets/images/agent-based-discovery/more-button-light.png
  static/assets/images/agent-based-discovery/table-columns-dark-3.png
  static/assets/images/agent-based-discovery/table-columns-light-3.png
Labels: proofread, optimize-images

#662 849: update image & add restore, setting-up-backup-
  docs/administration/appliance-manager/device42-restore.mdx
  docs/administration/appliance-manager/setting-up-backup-device42-appliance-manager.mdx
  static/assets/images/device42-restore/ma-restore-success.png
  static/assets/images/device42-restore/restart-application.png
  static/assets/images/device42-restore/restore-ma.png
  static/assets/images/setting-up-backup-device42-appliance-manager/backup-now-form.png
Labels: proofread, optimize-images

#663 843: converting client processes, application-components/index
  docs/apps/application-components/index.mdx
Labels: proofread
