Repository ritza-co/device42-docs, pull requests merged in 2025-06, with the labels that each got.

#744 898: update page, custom-column-views
  docs/administration/custom-column-views.mdx
  static/assets/images/custom-column-views/advanced-filter-dark.png
  static/assets/images/custom-column-views/advanced-filter-light.png
  static/assets/images/custom-column-views/basic-type-filter-dark.png
  static/assets/images/custom-column-views/basic-type-filter-light.png
  static/assets/images/custom-column-views/gear-icon-dark.png
  static/assets/images/custom-column-views/gear-icon-light.png
  static/assets/images/custom-column-views/reorder-columns-dark.png
  static/assets/images/custom-column-views/reorder-columns-light.png
  static/assets/images/custom-column-views/table-columns-dark.png
  static/assets/images/custom-column-views/table-columns-light.png
Labels: optimize-images

#747 899: update page, customizing-device42
  docs/administration/customizing-device42.mdx
  static/assets/images/customizing-device42/global-settings-login-screen-dark.png
  static/assets/images/customizing-device42/global-settings-login-screen-light.png
  static/assets/images/customizing-device42/logo-login-dark.png
  static/assets/images/customizing-device42/logo-login-light.png
Labels: proofread, optimize-images

#757 902: Proofread changes, console-menu.mdx
  docs/administration/console-menu.mdx
Labels: proofread

#753 902: update image, console-menu
  docs/administration/console-menu.mdx
  static/assets/images/console-menu-19.06.png
Labels: optimize-images

#760 910: update image, collecting-snmpwalk-output-for-
  docs/administration/appliance-manager/collecting-snmpwalk-output-for-troubleshooting.mdx
  static/assets/images/collecting-snmpwalk-output-for-troubleshooting/generate-snmp-output-options.png
Labels: optimize-images

#770 918: update page; generating-ipmi-for-troubleshooting
  docs/administration/appliance-manager/generating-ipmi-output-for-troubleshooting.mdx
  static/assets/images/generating-ipmi-output-for-troubleshooting/generate-ipmi-output.png
Labels: optimize-images

#771 919: update page; global-and-password-manager-session-timeout
  docs/administration/appliance-manager/global-and-password-manager-session-timeout.mdx
  static/assets/images/global-and-password-manager-session-timeout/global-inactivity-timeout.png
  static/assets/images/global-and-password-manager-session-timeout/global-settings-password-timeout-dark.png
  static/assets/images/global-and-password-manager-session-timeout/global-settings-password-timeout-light.png
Labels: optimize-images

#774 922: update page; set-fqdn-for-web-access
  docs/administration/appliance-manager/set-fqdn-for-web-access.mdx
  static/assets/images/set-fqdn-for-web-access/set-hostname-for-web-console.png
Labels: optimize-images

#775 923: update page; update-device42
  docs/administration/appliance-manager/update-device42.mdx
  static/assets/images/update-device42/updgrade-options-AM-19.06.png
  static/assets/images/update-device42/vm-console-options-19.06.png
Labels: optimize-images

#767 916: update image and edit, api-limits
  docs/administration/appliance-manager/api-limits.mdx
  static/assets/images/api-limits/api-limits.png
Labels: optimize-images

#791 929: update image; faqs
  docs/getstarted/faqs/index.mdx
  static/assets/images/faqs/change-type-action-19.06-dark.png
  static/assets/images/faqs/change-type-action-19.06-light.png
Labels: optimize-images

#792 930: update screenshots; windows-discovery-service-installation
  docs/getstarted/installation/windows-discovery-service-installation.mdx
  static/assets/images/windows-discovery-service-installation/generate-otp-19.06-dark.png
  static/assets/images/windows-discovery-service-installation/generate-otp-19.06-light.png
  static/assets/images/windows-discovery-service-installation/remote-collectors-menu-19.06-dark.png
  static/assets/images/windows-discovery-service-installation/remote-collectors-menu-19.06-light.png
  static/assets/images/windows-discovery-service-installation/wds-example-19.06-dark.png
  static/assets/images/windows-discovery-service-installation/wds-example-19.06-light.png
  static/assets/images/windows-discovery-service-installation/wds-remote-collector-19.06-dark.png
  static/assets/images/windows-discovery-service-installation/wds-remote-collector-19.06-light.png
Labels: optimize-images

#793 931: update screenshots; getting-started-with-auto-discovery
  docs/getstarted/getting-started-with-auto-discovery.mdx
  static/assets/images/getting-started-with-auto-discovery/add-snmp-discovery-19.06-dark.png
  static/assets/images/getting-started-with-auto-discovery/add-snmp-discovery-19.06-light.png
  static/assets/images/getting-started-with-auto-discovery/add-subnet-19.06-dark.png
  static/assets/images/getting-started-with-auto-discovery/add-subnet-19.06-light.png
  static/assets/images/getting-started-with-auto-discovery/subnets-list-page-19.06-dark.png
  static/assets/images/getting-started-with-auto-discovery/subnets-list-page-19.06-light.png
  static/assets/images/getting-started-with-auto-discovery/view-ci-details-19.06-dark.png
  static/assets/images/getting-started-with-auto-discovery/view-ci-details-19.06-light.png
Labels: optimize-images

#794 932: update screenshots; device42-tutorial
  docs/getstarted/tutorials/device42-tutorial.mdx
  static/assets/images/device42-tutorial/devices-assets-menu-19.06-dark.png
  static/assets/images/device42-tutorial/devices-assets-menu-19.06-light.png
  static/assets/images/device42-tutorial/infrastructure-menu-19.06-dark.png
  static/assets/images/device42-tutorial/infrastructure-menu-19.06-light.png
Labels: optimize-images

#799 Proofread changes, basic-navigation-tips-for-adding-editing.mdx
  docs/getstarted/basic-navigation-tips-for-adding-editing.mdx
Labels: proofread

#801 Edit: Power units text
  docs/infrastructure-management/power-units/adding-atss.mdx
  docs/infrastructure-management/power-units/adding-pdus.mdx
  docs/infrastructure-management/power-units/defining-pdu-models.mdx
  docs/infrastructure-management/power-units/pdu-ports.mdx
  docs/infrastructure-management/power-units/pdu-rack-display.mdx
Labels: proofread
