Repository ritza-co/device42-docs, pull requests merged in 2025-05, with the labels that each got.

#667 837: update page, password-reporting
  docs/administration/passwords/password-reporting.mdx
  static/assets/images/password-reporting/last-password-change-dark.png
  static/assets/images/password-reporting/last-password-change-light.png
  static/assets/images/password-reporting/schedule-and-export-dark.png
  static/assets/images/password-reporting/schedule-and-export-light.png
  static/assets/images/password-reporting/select-object-dark.png
  static/assets/images/password-reporting/select-object-light.png
  static/assets/images/password-reporting/table-columns-dark.png
  static/assets/images/password-reporting/table-columns-light.png
  static/assets/images/password-reporting/username-contains-dark.png
  static/assets/images/password-reporting/username-contains-light.png
  static/assets/images/password-reporting/username-filter-dark.png
  static/assets/images/password-reporting/username-filter-light.png
Labels: proofread, optimize-images

#664 846: change to standard reports + update, save-and-schedule-
  docs/reports/reports/save-and-schedule-reports.mdx
  static/assets/images/save-and-schedule-reports/export-excel-option-dark.png
  static/assets/images/save-and-schedule-reports/export-excel-option-light.png
  static/assets/images/save-and-schedule-reports/mail-server-settings-dark.png
  static/assets/images/save-and-schedule-reports/mail-server-settings-light.png
  static/assets/images/save-and-schedule-reports/report-progress-dark.png
  static/assets/images/save-and-schedule-reports/report-progress-light.png
  static/assets/images/save-and-schedule-reports/reports-status-list-page-dark.png
  static/assets/images/save-and-schedule-reports/reports-status-list-page-light.png
  static/assets/images/save-and-schedule-reports/scheduling-dark.png
  static/assets/images/save-and-schedule-reports/scheduling-light.png
  static/assets/images/save-and-schedule-reports/time-settings-dark.png
  static/assets/images/save-and-schedule-reports/time-settings-light.png
Labels: proofread, optimize-images

#677 840: Proofread changes, password-security-and-permissions.mdx
  docs/administration/passwords/password-security-and-permissions.mdx
Labels: proofread

#678 835: Proofread changes, device42-cloud-connector-overview.mdx
  docs/integration/external-integrations/device42-cloud-connector-overview.mdx
Labels: proofread

#680 841: Proofread changes, password-operations.mdx
  docs/administration/passwords/password-operations.mdx
Labels: proofread

#681 856: add lockout warning, password-policy
  docs/administration/passwords/password-policy.mdx
Labels: proofread

#671 839: update image, set-default-password-management-group
  docs/administration/passwords/set-default-password-management-group.mdx
  static/assets/images/set-default-password-management-group/global-settings-edit-groups-dark.png
  static/assets/images/set-default-password-management-group/global-settings-edit-groups-light.png
Labels: optimize-images

#675 734: update image, discovery-quality-scores
  docs/reports/reports/discovery-quality-scores.mdx
  static/assets/images/discovery-quality-scores/detailed-scores-dark.png
  static/assets/images/discovery-quality-scores/detailed-scores-light.png
  static/assets/images/discovery-quality-scores/partial-status-dark.png
  static/assets/images/discovery-quality-scores/partial-status-light.png
Labels: optimize-images

#676 835: update page, device42-cloud-connector-overview
  docs/integration/external-integrations/device42-cloud-connector-overview.mdx
  static/assets/images/device42-cloud-connector-overview/Cloud-Connector.png
  static/assets/images/device42-cloud-connector-overview/cloud-services-form-dark.png
  static/assets/images/device42-cloud-connector-overview/cloud-services-form-light.png
Labels: optimize-images

#679 841: update page, password-operations
  docs/administration/passwords/password-operations.mdx
  static/assets/images/password-operations/add-new-secret-dark.png
  static/assets/images/password-operations/add-new-secret-light.png
  static/assets/images/password-operations/enter-passphrase-dark.png
  static/assets/images/password-operations/enter-passphrase-light.png
  static/assets/images/password-operations/generate-password-dark.png
  static/assets/images/password-operations/generate-password-light.png
  static/assets/images/password-operations/global-settings-secrets-dark.png
  static/assets/images/password-operations/global-settings-secrets-light.png
  static/assets/images/password-operations/secrets-list-page-dark.png
  static/assets/images/password-operations/secrets-list-page-light.png
  static/assets/images/password-operations/view-secret-dark.png
  static/assets/images/password-operations/view-secret-light.png
Labels: optimize-images

#699 863: Proofread changes, z-os-ibm-mainframe.mdx
  docs/auto-discovery/z-os-ibm-mainframe.mdx
Labels: proofread

#700 867: Proofread changes, on-premise-databases.mdx
  docs/auto-discovery/database-discovery/on-premise-databases.mdx
Labels: proofread

#691 864: update images, setup-dns-autodiscovery
  docs/auto-discovery/setup-dns-autodiscovery.mdx
  static/assets/images/setup-dns-autodiscovery/dns-add-new-job-dark.png
  static/assets/images/setup-dns-autodiscovery/dns-add-new-job-light.png
  static/assets/images/setup-dns-autodiscovery/dns-list-page-dark.png
  static/assets/images/setup-dns-autodiscovery/dns-list-page-light.png
  static/assets/images/setup-dns-autodiscovery/dns-run-row-dark.png
  static/assets/images/setup-dns-autodiscovery/dns-run-row-light.png
  static/assets/images/setup-dns-autodiscovery/dns-schedule-job-dark.png
  static/assets/images/setup-dns-autodiscovery/dns-schedule-job-light.png
Labels: optimize-images

#690 863: update images, z-os-ibm-mainframe
  docs/auto-discovery/z-os-ibm-mainframe.mdx
  static/assets/images/z-os-ibm-mainframe/add-new-z-os-job-19.06-dark.png
  static/assets/images/z-os-ibm-mainframe/add-new-z-os-job-19.06-light.png
  static/assets/images/z-os-ibm-mainframe/discovery-target-credentials-dark.png
  static/assets/images/z-os-ibm-mainframe/discovery-target-credentials-light.png
  static/assets/images/z-os-ibm-mainframe/ftps-job-card-command-dark.png
  static/assets/images/z-os-ibm-mainframe/ftps-job-card-command-light.png
  static/assets/images/z-os-ibm-mainframe/host-discovery-dark.png
  static/assets/images/z-os-ibm-mainframe/host-discovery-light.png
  static/assets/images/z-os-ibm-mainframe/run-z-os-now-19.06-dark.png
  static/assets/images/z-os-ibm-mainframe/run-z-os-now-19.06-light.png
  static/assets/images/z-os-ibm-mainframe/run-z-os-now-list-page-dark.png
  static/assets/images/z-os-ibm-mainframe/run-z-os-now-list-page-light.png
  static/assets/images/z-os-ibm-mainframe/software-and-applications-dark.png
  static/assets/images/z-os-ibm-mainframe/software-and-applications-light.png
  static/assets/images/z-os-ibm-mainframe/z-os-misc-options-dark.png
  static/assets/images/z-os-ibm-mainframe/z-os-misc-options-light.png
  static/assets/images/z-os-ibm-mainframe/z-os-naming-options-dark.png
  static/assets/images/z-os-ibm-mainframe/z-os-naming-options-light.png
  static/assets/images/z-os-ibm-mainframe/z-os-schedule-19.06-dark.png
  static/assets/images/z-os-ibm-mainframe/z-os-schedule-19.06-light.png
Labels: optimize-images

#689 862: update images to 19.06, ipmi-auto-discovery
  docs/auto-discovery/ipmi-auto-discovery.mdx
  static/assets/images/ipmi-auto-discovery/discovery-type-dark.png
  static/assets/images/ipmi-auto-discovery/discovery-type-light.png
  static/assets/images/ipmi-auto-discovery/hostname-19.06-dark.png
  static/assets/images/ipmi-auto-discovery/hostname-19.06-light.png
  static/assets/images/ipmi-auto-discovery/hostname-dark.png
  static/assets/images/ipmi-auto-discovery/hostname-light.png
  static/assets/images/ipmi-auto-discovery/ipmi-job-19.06-dark.png
  static/assets/images/ipmi-auto-discovery/ipmi-job-19.06-light.png
  static/assets/images/ipmi-auto-discovery/run-as-operator-19.06-dark.png
  static/assets/images/ipmi-auto-discovery/run-as-operator-19.06-light.png
  static/assets/images/ipmi-auto-discovery/run-now-ipmi-dark.png
  static/assets/images/ipmi-auto-discovery/run-now-ipmi-light.png
  static/assets/images/ipmi-auto-discovery/run-now-ipmi-list-dark.png
  static/assets/images/ipmi-auto-discovery/run-now-ipmi-list-light.png
  static/assets/images/ipmi-auto-discovery/schedule-ipmi-dark.png
  static/assets/images/ipmi-auto-discovery/schedule-ipmi-light.png
  static/assets/images/ipmi-auto-discovery/serial-to-use-dark.png
  static/assets/images/ipmi-auto-discovery/serial-to-use-light.png
  static/assets/images/ipmi-auto-discovery/target-credentials-19.06-dark.png
  static/assets/images/ipmi-auto-discovery/target-credentials-19.06-light.png
Labels: optimize-images

#686 850: add convert to service image, application-components
  docs/apps/application-components/index.mdx
  static/assets/images/application-components/convert-to-service-dark.png
  static/assets/images/application-components/convert-to-service-light.png
Labels: optimize-images

#684 834: update images, resources/index
  docs/auto-discovery/resources/index.mdx
  static/assets/images/autodiscovery-resources/linked-example-19.06-dark.png
  static/assets/images/autodiscovery-resources/linked-example-19.06-light.png
  static/assets/images/autodiscovery-resources/resource-details-19.06-dark.png
  static/assets/images/autodiscovery-resources/resource-details-19.06-light.png
  static/assets/images/autodiscovery-resources/resource-map-view-19.06-dark.png
  static/assets/images/autodiscovery-resources/resource-map-view-19.06-light.png
  static/assets/images/autodiscovery-resources/resources-app-group-calc-19.06-dark.png
  static/assets/images/autodiscovery-resources/resources-app-group-calc-19.06-light.png
Labels: optimize-images

#710 873: update images, azure-autodiscovery
  docs/auto-discovery/cloud-auto-discovery/azure-autodiscovery.mdx
  static/assets/images/azure-autodiscovery/add-azure-secret-19.06-dark.png
  static/assets/images/azure-autodiscovery/add-azure-secret-19.06-light.png
  static/assets/images/azure-autodiscovery/advanced-features-19.06-dark.png
  static/assets/images/azure-autodiscovery/advanced-features-19.06-light.png
  static/assets/images/azure-autodiscovery/azure-postgresql-flex-19.06-dark.png
  static/assets/images/azure-autodiscovery/azure-postgresql-flex-19.06-light.png
  static/assets/images/azure-autodiscovery/azure-tags.png
  static/assets/images/azure-autodiscovery/azure-vendor-custom-fields-dark.png
  static/assets/images/azure-autodiscovery/azure-vendor-custom-fields-light.png
  static/assets/images/azure-autodiscovery/device-name-format-19.06-dark.png
  static/assets/images/azure-autodiscovery/device-name-format-19.06-light.png
  static/assets/images/azure-autodiscovery/k8s-discovery-19.06-dark.png
  static/assets/images/azure-autodiscovery/k8s-discovery-19.06-light.png
  static/assets/images/azure-autodiscovery/virtual-device-azure-dark.png
  static/assets/images/azure-autodiscovery/virtual-device-azure-light.png
Labels: optimize-images

#711 874: update images, aws-autodiscovery
  docs/auto-discovery/cloud-auto-discovery/aws-autodiscovery.mdx
  static/assets/images/cloud-discovery-aws/add-aws-role-19.06-dark.png
  static/assets/images/cloud-discovery-aws/add-aws-role-19.06-light.png
  static/assets/images/cloud-discovery-aws/add-aws-role-id-19.06-dark.png
  static/assets/images/cloud-discovery-aws/add-aws-role-id-19.06-light.png
  static/assets/images/cloud-discovery-aws/advanced-features-aws-19.06-dark.png
  static/assets/images/cloud-discovery-aws/advanced-features-aws-19.06-light.png
  static/assets/images/cloud-discovery-aws/aws-lambda-19.06-dark.png
  static/assets/images/cloud-discovery-aws/aws-lambda-19.06-light.png
  static/assets/images/cloud-discovery-aws/aws-regions-19.06-dark.png
  static/assets/images/cloud-discovery-aws/aws-regions-19.06-light.png
  static/assets/images/cloud-discovery-aws/aws-role-filter-19.06-dark.png
  static/assets/images/cloud-discovery-aws/aws-role-filter-19.06-light.png
  static/assets/images/cloud-discovery-aws/aws-roles-menu-19.06-dark.png
  static/assets/images/cloud-discovery-aws/aws-roles-menu-19.06-light.png
  static/assets/images/cloud-discovery-aws/aws-tags-19.06-dark.png
  static/assets/images/cloud-discovery-aws/aws-tags-19.06-light.png
  static/assets/images/cloud-discovery-aws/cloud-discovery-aws-19.06-dark.png
  static/assets/images/cloud-discovery-aws/cloud-discovery-aws-19.06-light.png
  static/assets/images/cloud-discovery-aws/cloud-resources-filter-19.06-dark.png
  static/assets/images/cloud-discovery-aws/cloud-resources-filter-19.06-light.png
  static/assets/images/cloud-discovery-aws/cloud-resources-search-options-19.06-dark.png
  static/assets/images/cloud-discovery-aws/cloud-resources-search-options-19.06-light.png
  static/assets/images/cloud-discovery-aws/use-env-credentials-dark.png
  static/assets/images/cloud-discovery-aws/use-env-credentials-light.png
Labels: optimize-images

#712 875: update images, automox-autodiscovery
  docs/auto-discovery/cloud-auto-discovery/automox-autodiscovery.mdx
  static/assets/images/automox-autodiscovery/automox-bearer-token-dark.png
  static/assets/images/automox-autodiscovery/automox-bearer-token-light.png
  static/assets/images/automox-autodiscovery/automox-options-dark.png
  static/assets/images/automox-autodiscovery/automox-options-light.png
  static/assets/images/automox-autodiscovery/automox-run-now-19.06-dark.png
  static/assets/images/automox-autodiscovery/automox-run-now-19.06-light.png
  static/assets/images/automox-autodiscovery/automox-schedule-dark.png
  static/assets/images/automox-autodiscovery/automox-schedule-light.png
  static/assets/images/automox-autodiscovery/type-dropdown-19.06-dark.png
  static/assets/images/automox-autodiscovery/type-dropdown-19.06-light.png
Labels: optimize-images

#713 876: update images, cloud-auto-discovery/index
  docs/auto-discovery/cloud-auto-discovery/index.mdx
  static/assets/images/cloud-auto-discovery/cloud-discovery-menu-19.06-dark.png
  static/assets/images/cloud-auto-discovery/cloud-discovery-menu-19.06-light.png
  static/assets/images/cloud-auto-discovery/cloud-discovery-type-19.06-dark.png
  static/assets/images/cloud-auto-discovery/cloud-discovery-type-19.06-light.png
  static/assets/images/cloud-auto-discovery/cloud-instance-information-dark.png
  static/assets/images/cloud-auto-discovery/cloud-instance-information-light.png
  static/assets/images/cloud-auto-discovery/cloud-more-options-dark.png
  static/assets/images/cloud-auto-discovery/cloud-more-options-light.png
  static/assets/images/cloud-auto-discovery/devices-type-filter-dark.png
  static/assets/images/cloud-auto-discovery/devices-type-filter-light.png
Labels: optimize-images

#714 878: update images, cisco-ucs-auto-discovery
  docs/auto-discovery/cisco-ucs-auto-discovery.mdx
  static/assets/images/cisco-ucs-auto-discovery/UCS-ACI-Load-Balancers-menu-19.06-dark.png
  static/assets/images/cisco-ucs-auto-discovery/UCS-ACI-Load-Balancers-menu-19.06-light.png
  static/assets/images/cisco-ucs-auto-discovery/hostname-to-use-19.06-dark.png
  static/assets/images/cisco-ucs-auto-discovery/hostname-to-use-19.06-light.png
  static/assets/images/cisco-ucs-auto-discovery/service-profile-19.06-dark.png
  static/assets/images/cisco-ucs-auto-discovery/service-profile-19.06-light.png
  static/assets/images/cisco-ucs-auto-discovery/ucs-add-autodiscovery-schedule-dark.png
  static/assets/images/cisco-ucs-auto-discovery/ucs-add-autodiscovery-schedule-light.png
  static/assets/images/cisco-ucs-auto-discovery/ucs-run-now-button-dark.png
  static/assets/images/cisco-ucs-auto-discovery/ucs-run-now-button-light.png
  static/assets/images/cisco-ucs-auto-discovery/ucs-select-platform-19.06-dark.png
  static/assets/images/cisco-ucs-auto-discovery/ucs-select-platform-19.06-light.png
Labels: optimize-images

#715 879: update images, certificate-auto-discovery
  docs/auto-discovery/certificate-auto-discovery.mdx
  static/assets/images/certificate-management/add-discovery-job-schedule-dark.png
  static/assets/images/certificate-management/add-discovery-job-schedule-light.png
  static/assets/images/certificate-management/add-discovery-job-servers-dark.png
  static/assets/images/certificate-management/add-discovery-job-servers-light.png
  static/assets/images/certificate-management/certificate-discovery-list-19.06-dark.png
  static/assets/images/certificate-management/certificate-discovery-list-19.06-light.png
  static/assets/images/certificate-management/cipher-suites-option-19.06-dark.png
  static/assets/images/certificate-management/cipher-suites-option-19.06-light.png
Labels: optimize-images

#716 880: update images, blade-systems-auto-discovery
  docs/auto-discovery/blade-systems-auto-discovery.mdx
  static/assets/images/blade-systems-auto-discovery/add-snmp-job-19.06-dark.png
  static/assets/images/blade-systems-auto-discovery/add-snmp-job-19.06-light.png
  static/assets/images/blade-systems-auto-discovery/blade-system-options-19.06-dark.png
  static/assets/images/blade-systems-auto-discovery/blade-system-options-19.06-light.png
  static/assets/images/blade-systems-auto-discovery/snmp-credentials-dark.png
  static/assets/images/blade-systems-auto-discovery/snmp-credentials-light.png
  static/assets/images/blade-systems-auto-discovery/snmp-list-page-run-now-dark.png
  static/assets/images/blade-systems-auto-discovery/snmp-list-page-run-now-light.png
  static/assets/images/blade-systems-auto-discovery/snmp-schedule-job-19.06-dark.png
  static/assets/images/blade-systems-auto-discovery/snmp-schedule-job-19.06-light.png
Labels: optimize-images

#717 881: update image, signed-mac-agent
  docs/auto-discovery/signed-mac-agent.mdx
  static/assets/images/mac-agent/mac-agent-19.06-dark.png
  static/assets/images/mac-agent/mac-agent-19.06-light.png
Labels: optimize-images

#718 882: update images, agent-based-offline-discovery
  docs/auto-discovery/agent-based-offline-discovery.mdx
  static/assets/images/agent-based-offline-discovery/download-agent-19.06-dark.png
  static/assets/images/agent-based-offline-discovery/download-agent-19.06-light.png
  static/assets/images/agent-based-offline-discovery/menu-agent-discovery-19.06-dark.png
  static/assets/images/agent-based-offline-discovery/menu-agent-discovery-19.06-light.png
Labels: optimize-images

#705 866: update images, cloud-databases
  docs/auto-discovery/database-discovery/cloud-databases.mdx
  static/assets/images/cloud-databases/action-menu-19.06-dark.png
  static/assets/images/cloud-databases/action-menu-19.06-light.png
  static/assets/images/cloud-databases/cloud-calculation-19.06-dark.png
  static/assets/images/cloud-databases/cloud-calculation-19.06-light.png
  static/assets/images/cloud-databases/cloud-databases-list-page-19.06-dark.png
  static/assets/images/cloud-databases/cloud-databases-list-page-19.06-light.png
  static/assets/images/cloud-databases/cloud-databases-menu-19.06-dark.png
  static/assets/images/cloud-databases/cloud-databases-menu-19.06-light.png
  static/assets/images/cloud-databases/delete-confirmation-19.06-dark.png
  static/assets/images/cloud-databases/delete-confirmation-19.06-light.png
  static/assets/images/cloud-databases/edit-database-19.06-dark.png
  static/assets/images/cloud-databases/edit-database-19.06-light.png
  static/assets/images/cloud-databases/resource-map-19.06-dark.png
  static/assets/images/cloud-databases/resource-map-19.06-light.png
  static/assets/images/cloud-databases/view-database-19.06-dark.png
  static/assets/images/cloud-databases/view-database-19.06-light.png
Labels: optimize-images

#706 870: update images, other-cloud-autodiscoveries
  docs/auto-discovery/cloud-auto-discovery/other-cloud-autodiscoveries.mdx
  static/assets/images/other-cloud-autodiscovery/alibaba-cloud-19.06-dark.png
  static/assets/images/other-cloud-autodiscovery/alibaba-cloud-19.06-light.png
  static/assets/images/other-cloud-autodiscovery/alibaba-cloud-options-19.06-dark.png
  static/assets/images/other-cloud-autodiscovery/alibaba-cloud-options-19.06-light.png
  static/assets/images/other-cloud-autodiscovery/cloud-discovery-type-19.06-dark.png
  static/assets/images/other-cloud-autodiscovery/cloud-discovery-type-19.06-light.png
  static/assets/images/other-cloud-autodiscovery/digital-ocean-job-19.06-dark.png
  static/assets/images/other-cloud-autodiscovery/digital-ocean-job-19.06-light.png
  static/assets/images/other-cloud-autodiscovery/linode-autodiscovery-19.06-dark.png
  static/assets/images/other-cloud-autodiscovery/linode-autodiscovery-19.06-light.png
  static/assets/images/other-cloud-autodiscovery/openstack-job-19.06-dark.png
  static/assets/images/other-cloud-autodiscovery/openstack-job-19.06-light.png
  static/assets/images/other-cloud-autodiscovery/oracle-cloud-19.06-dark.png
  static/assets/images/other-cloud-autodiscovery/oracle-cloud-19.06-light.png
  static/assets/images/other-cloud-autodiscovery/oracle-cloud-options-19.06-dark.png
  static/assets/images/other-cloud-autodiscovery/oracle-cloud-options-19.06-light.png
Labels: optimize-images

#708 872: update images, google-cloud-platform-autodiscovery
  docs/auto-discovery/cloud-auto-discovery/google-cloud-platform-autodiscovery.mdx
  static/assets/images/google-cloud-platform-autodiscovery/add-gcp-discovery-19.06-dark.png
  static/assets/images/google-cloud-platform-autodiscovery/add-gcp-discovery-19.06-light.png
  static/assets/images/google-cloud-platform-autodiscovery/add-json-key-19.06-dark.png
  static/assets/images/google-cloud-platform-autodiscovery/add-json-key-19.06-light.png
  static/assets/images/google-cloud-platform-autodiscovery/gcp-tags-19.06-dark.png
  static/assets/images/google-cloud-platform-autodiscovery/gcp-tags-19.06-light.png
  static/assets/images/google-cloud-platform-autodiscovery/kubernetes-discovery-option-19.06-dark-2.png
  static/assets/images/google-cloud-platform-autodiscovery/kubernetes-discovery-option-19.06-light-2.png
Labels: optimize-images
